#wrapper {
	width: 970px;
    margin: 0px auto;
    background-color: #245176;
    color: white;
}

.navigation {

}

.bulk_text {

}

.title_points {

}

.top_bottom_bulk_text {

}

.small_pictures {

 }

 .top_bottom_titles {

 }

 #helping {

 }

 #main_image {

 }

 #top_title {

 }

 #recycling {

 }

 #helping_others {

 }

 #main_content {
 	
 }