#whole_page {
  
}

#globe {
	height:100px;
	width: 100px;
	display: block;
}

h1 {
  display: block;
	margin-left: 110px;
	margin-top: -50px;
	font-size: 45px;
}

h2 {
  background-color: navy;
	padding-top: 15px;
	color: whitesmoke;
	padding-left: 15px;
	padding-bottom: 15px;
	font-size: 30px;
	width: 975px;
}

#home {
	height: 25px;
	margin-left: 250px;
}

#dns {
  display: inline-block;
}

#sidebar {
  font-size: large;
	display: block;
	width: 250px;
	margin-top: -20px;
}

#red {
	color: red;
}

.blue {
	color: blue;
}

#video {
  background-color: blue;
	color: whitesmoke;
	display: block;
	width: 122px;
}

#resources {
  background-color: orange;
	color: whitesmoke;
	display: block;
}

#ninja_box {
	background-image: url(images/ad_background.png);
	background-position: center;
	width: 300px;
	height: 500px;
}


#learn {
	margin-left: 40px;
	margin-top: 15px;
	background-color: blue;
	color: whitesmoke;
	height: 31px;
	width: 220px;
}

#contact_info {
	display: inline-block;
	
}

.tiny {
  display: inline-block;
}

#big {
	font-size: x-large;
	margin-left: 800px;
	margin-top: -100px;
}

#tele {
	height: 75px;
	margin-left: 500px;
	margin-top: -900px;
	display: block;
}

.reg_text {

}

.reg_title {

}

#bottom {

}

#contact_info {

}





















