#whole_page {

}

#globe {

}

h1 {

}

h2 {

}

#dns {

}

#sidebar {

}

#red {
	color: red;
}

.blue {
	color: blue;
}

#video {

}

#resources {

}

#ninja_box {
	background-image: url(images/ad_background.png);
	background-position: center;
	width: 200px;
	height: 400px;
}

.tiny {

}

#big {

}

#tele {

}

.reg_text {

}

.reg_title {

}

#bottom {

}

#contact_info {
	
}





















